$primary-text-color: #212121;
$secondary-text-color: #000000;
$white-color: #ffffff;
$hover-color: #2196f3;
$title-text-color: #757575;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-background-color: #2f303a;
$section-background-color: #f5f4fa;
$our-team-background-color: #afb1b8;
$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
