// Мобильная версия

.about-us-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $section-background-color;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    max-width: 450px;
    // padding-left: 45%;
    // padding-right: 190px;
    // padding-left: 190px;
  }
}

.about-us {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title-about-us {
  margin-bottom: 10px;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text-about-us {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .about-us-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
  .title-about-us {
    text-align: center;
  }
}

// Таблет

@media screen and (min-width: 768px) {
  .about-us-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .about-us-img {
    width: 354px;
    padding-left: 142px;
    padding-right: 142px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us-list .item {
    width: 354px;
    height: 251px;

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

// ДЛЯ ПК

@media screen and (min-width: 1200px) {
  .about-us {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-us-list .item {
    width: 270px;
    height: 251px;
  }

  .about-us-img {
    width: 270px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

// .about-us {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
// .about-us-list {
//   display: flex;
//   justify-content: space-between;

//   .item {
//     width: 270px;
//     height: 251px;
//   }
// }

// .about-us-img {
//   background-color: $section-background-color;
//   height: 120px;
//   width: 270px;
//   margin-bottom: 30px;
//   padding: 25px 100px;
// }
// .title-about-us {
//   margin-bottom: 10px;
//   color: $primary-text-color;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   text-transform: uppercase;
// }

// .text-about-us {
//   color: $title-text-color;
//   font-size: 14px;
//   line-height: 1.71;
// }
